.button {
  background-color: aqua;
}
.modal {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  inset: 0;
  cursor: zoom-out;
  display: none;
}
.modal-content {
  width: 500px;
  height: 300px;
  background-color: rgba(255, 243, 243, 0.734);
  border-radius: 25px;
  position: relative;
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    /* Bóng trái */ 10px 0 10px -10px rgba(0, 0, 0, 0.5),
    /* Bóng phải */ 0 -10px 10px -10px rgba(0, 0, 0, 0.5),
    /* Bóng trên */ 0 10px 10px -10px rgba(0, 0, 0, 0.5); /* Bóng dưới */
  cursor: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: inline-flex;
  flex-flow: column;
}

.fa-times {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: aqua;
  border-radius: 999px;
  padding: 3px 5px;
}
